<html>
	<head>
		<title>Hi! Get to know about me!</title>
		<link href="bootstrap.min.css" rel="stylesheet" />
        <style>
            #main-page {
                margin-top: 80px;
                width: 60%;
            }
        </style>
	</head>
	<body style="background-color:#edf6f9">
		<nav class="navbar navbar-expand-sm fixed-top" style="background-color: #006d77">
            <div class="container-fluid">
                <!-- Links -->
                <ul class="navbar-nav">
                    <img src="/profpic.jpg" alt="Profile Picture" style="width:40px; height:40px" class="rounded-pill"> 
                    <a class="navbar-brand" style="color: #83c5be;" href="/">Novangeline Santoso</a>
                    <li class="nav-item">
                    <a class="nav-link" style="color: #83c5be;" href="https:/linkedin.com/in/novangeline-santoso">Linkedin</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" style="color: #83c5be;" href="https:/github.com/Novangeline">Github</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" style="color: #83c5be;" href="/what-i-do-for-fun">What I Do For Fun</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container mt-5 pt-5">
            <div class="row">
                <!-- Profile Card -->
                <div class="col-md-4">
                    <div class="card" style="width:300px"> <!-- Set width to 100% to use the column's width -->
                        <img class="card-img-top" src="/photocard.jpg" alt="Card image" style="width:100%; height:auto;">
                        <div class="card-body">
                            <h4 class="card-title">Novangeline Santoso</h4>
                            <p class="card-text">Uni: Monash University<br>Major: Computer Science<br>Hobbies: Golf, shopping, cooking</p>
                            <a href="#" class="btn text-light" style="background-color: #006d77">See Profile</a>
                        </div>
                    </div>
                </div>
        
                <!-- About Me Section -->
                <div class="col-md-8 text-center" id="main-page">
                    <div>
                        <br>
                        <h1>Hey! Welcome to my personal website</h1><br><br><br>
                        <h3>About Me</h3><br>
                        <p>I am a third-year Monash University student majoring in advanced computer science and minoring in cybersecurity. 
                            I didn't know I loved to code until I wrote my first line of code back in my first year of college. I've been loving
                            it ever since, and that's how I built this website!
                        </p><br><br><br>
                        <h6>Nothing feels better than finding a bug you've been trying to solve for days!</h6>
                    </div>
                </div>
            </div>
        </div>
	</body>
</html>